.App {
  text-align: center;
  background-color: #272b33;
  color:white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.medium-container{
  width: 50% !important;
  margin-top: 25px;
}

.small-container{
  width: 25% !important;
  margin-top:25px;
}

.table thead th{
  vertical-align: middle !important;
  font-size: x-large;
}

.card {
  color:black;
}

.table.diff.diff-split{
  border: none !important;
}

.diff-gutter-col {
  width: 2ch;
}

.diff td {
  vertical-align: top !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding: 0.5rem !important;
  border: none !important;
  text-align: left;
}

.diff-line {
  line-height: 1 !important;
  font-family: Consolas,Courier,monospace;
  font-family: var(--diff-font-family);
  font-size: 80% !important;
}

.diff-gutter-col {
  width: 5ch !important;
}

.container{
  padding-left:0 !important;
  padding-right:0 !important;
}